:root {
    /* Theme Colors */
    --red-brown: #794e3b; /* Primary Color */
    --khaki-brown: #845744; /* Used in the repeating bg-pattern */
    --accent: #f0e3c3; /* Used as a secondary surface */
    --accent-transparent: #44403575; /* Used on the pop-up bg cover */
    --surface-background: #d1bc9f; /* Used as a main surface */
    --outline-brown: #352b22; /* Main outline color */

    /* Colors for easy modification */
    --primary: var(--red-brown);
    --secondary: var(--khaki-brown);
    --text-color: #604f45;
    --outline: var(--outline-brown);
    --footer-color: #8c7b6b;
    --accent-text: #3a2a1a;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--surface-background);
    border-radius: 0;
}

p {
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

